/** Define color vars **/
$dark: #262833;
$gld-secondary: #FFCB47;
$green-secondary: #4ACFAC;
$purp-secondary: #7E8CE0;
$blue-secondary: #36C7D0;
$smn-secondary: #FFA48E;

/** Style HTML doc **/
body {
  font-family: 'Ropa Sans', sans-serif;
  background-color: $dark;
}

nav {  
  background-color: $gld-secondary;
  .my-color {
    font-size: 20px;
    letter-spacing: 2.5px;
    color: $dark !important;
  }
  .my-color:hover {
    color: $purp-secondary !important;
  }
  .my-color-active {
    color: $blue-secondary !important;
  }
  #contact-button {
    text-decoration: none;
  }
}

.intro {
  background-color: $dark;
  color: $gld-secondary;
  margin-top: 6rem;
  min-height: 100vh;
  padding-top: 125px;
  .h-txt-body {
    border-right: 0.2rem solid $gld-secondary;
    font-size: 100px;
    letter-spacing: 2px;
  }
  .txt {
    border-right: 0.2rem solid $gld-secondary;
    font-size: 75px;
    letter-spacing: 2px;
  }
}

.about {
  background-color: $green-secondary;
  .about-header {
    color: $dark;
    font-weight: 1000;
    font-size: 60px;
    letter-spacing: 2px;
    border-bottom: 0.2rem solid $dark;
  }
  .about-text {
    color: $dark;
    font-weight: 500;
    font-size: 20px;
  }
  .about-image {
    border: 0.2rem solid $dark;
  }
}

.projects {
  background-color: $dark;
  .projects-header {
    color: $blue-secondary;
    font-weight: 1000;
    font-size: 60px;
    letter-spacing: 2px;
    border-bottom: 0.2rem solid $blue-secondary;
  }
  .project-card .card {
    background-color: $dark;
    .card-header {
      @include full-border($blue-secondary);
      text-align: center;
      h5 button {
        color: $blue-secondary;
        font-size: larger;
        font-weight: 500;
      }
    }
    .card-body {
      @include right-bottom-left-border($purp-secondary);
      background-color: white;

      ul li {
        list-style-type: square;
      }
    }

  }
  #seperator {
    #blue-border {
      border-bottom: 0.15rem solid $blue-secondary;
    }
    #purp-border {
      border-bottom: 0.15rem solid $purp-secondary;
    }
  }
  .work-header {
    color: $purp-secondary;
    font-weight: 1000;
    font-size: 60px;
    letter-spacing: 2px;
    border-bottom: 0.2rem solid $purp-secondary;
  }
  .work-card .card {
    background-color: $dark;
    .card-header {
      @include full-border($purp-secondary);
      text-align: center;
      h5 button {
        color: $purp-secondary;
        font-size: larger;
        font-weight: 500;
      }
    }
    .card-body {
      @include right-bottom-left-border($blue-secondary);
      background-color: white;
      ul li {
        list-style-type: square;
      }
    }
  }
}

/** mixins for repeated components **/
@mixin right-bottom-left-border($color) {
  border-right: 0.175rem solid $color;
  border-bottom: 0.175rem solid $color;
  border-left: 0.175rem solid $color;
}

@mixin full-border($color) {
  border: 0.2rem solid %color;
}

/** make the carousel controls darker **/
.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}

.carousel-indicators li {
  filter: invert(100%);
}

.footer {
  background-color: $green-secondary;
  .footer-link {
    color: $dark;
    text-decoration: none;
  }
  .footer-logo  {
    vertical-align: baseline;
  }
}

/** Media Queries **/
@media (max-width: 779px) {
  .work-card .card .card-header h5 button {
    font-size: large;
  }
  .project-card .card .card-header h5 button {
    font-size: large;
  }
}

@media (max-width: 756px) {
  .intro {
    margin-top: 4rem;
    .h-txt-body {
      font-size: 62px;
    }
    .txt {
      font-size: 50px;
    }
  }
}

@media (max-width: 415px) {
  .intro {
    margin-top: 4rem;
    .h-txt-body {
      font-size: 44px;
    }
    .txt {
      font-size: 30px;
    }
  }
}

@media (max-width: 768px) {
  .carousel-inner {
    width: 100% !important;
  }
}