/** Define color vars **/
/** Style HTML doc **/
body {
  font-family: 'Ropa Sans', sans-serif;
  background-color: #262833; }

nav {
  background-color: #FFCB47; }
  nav .my-color {
    font-size: 20px;
    letter-spacing: 2.5px;
    color: #262833 !important; }
  nav .my-color:hover {
    color: #7E8CE0 !important; }
  nav .my-color-active {
    color: #36C7D0 !important; }
  nav #contact-button {
    text-decoration: none; }

.intro {
  background-color: #262833;
  color: #FFCB47;
  margin-top: 6rem;
  min-height: 100vh;
  padding-top: 125px; }
  .intro .h-txt-body {
    border-right: 0.2rem solid #FFCB47;
    font-size: 100px;
    letter-spacing: 2px; }
  .intro .txt {
    border-right: 0.2rem solid #FFCB47;
    font-size: 75px;
    letter-spacing: 2px; }

.about {
  background-color: #4ACFAC; }

.about-header {
  color: #262833;
  font-weight: 1000;
  font-size: 60px;
  letter-spacing: 2px;
  border-bottom: 0.2rem solid #262833; }

.projects-header {
  color: #36C7D0;
  font-weight: 1000;
  font-size: 60px;
  letter-spacing: 2px;
  border-bottom: 0.2rem solid #36C7D0; }

.work-header {
  color: #7E8CE0;
  font-weight: 1000;
  font-size: 60px;
  letter-spacing: 2px;
  border-bottom: 0.2rem solid #7E8CE0; }

.about-text {
  color: #262833;
  font-weight: 500;
  font-size: 20px; }

.about-image {
  border: 0.2rem solid #262833; }

.projects {
  background-color: #262833; }

/** make the carousel controls darker **/
.carousel-control-next,
.carousel-control-prev {
  filter: invert(100%); }

.carousel-indicators li {
  filter: invert(100%); }

.carousel-caption {
  color: #262833; }
  .carousel-caption p {
    color: #262833; }

.project-card .card {
  background-color: #262833; }
  .project-card .card .card-header {
    border: 0.2rem solid #36C7D0;
    text-align: center; }
    .project-card .card .card-header h5 button {
      color: #36C7D0;
      font-size: larger;
      font-weight: 500; }
  .project-card .card .card-body {
    border-right: 0.175rem solid #7E8CE0;
    border-bottom: 0.175rem solid #7E8CE0;
    border-left: 0.175rem solid #7E8CE0;
    background-color: white; }
    .project-card .card .card-body ul li {
      list-style-type: square; }

#seperator #blue-border {
  border-bottom: 0.15rem solid #36C7D0; }

#seperator #purp-border {
  border-bottom: 0.15rem solid #7E8CE0; }

.work-card .card {
  background-color: #262833; }
  .work-card .card .card-header {
    border: 0.2rem solid #7E8CE0;
    text-align: center; }
    .work-card .card .card-header h5 button {
      color: #7E8CE0;
      font-size: larger;
      font-weight: 500; }
  .work-card .card .card-body {
    border-right: 0.175rem solid #36C7D0;
    border-bottom: 0.175rem solid #36C7D0;
    border-left: 0.175rem solid #36C7D0;
    background-color: white; }
    .work-card .card .card-body ul li {
      list-style-type: square; }

.footer {
  background-color: #4ACFAC; }
  .footer .footer-link {
    color: #262833;
    text-decoration: none; }
  .footer .footer-logo {
    vertical-align: baseline; }

@media (max-width: 779px) {
  .work-card .card .card-header h5 button {
    font-size: large; }
  .project-card .card .card-header h5 button {
    font-size: large; } }

@media (max-width: 756px) {
  .intro {
    margin-top: 4rem; }
    .intro .h-txt-body {
      font-size: 62px; }
    .intro .txt {
      font-size: 50px; } }

@media (max-width: 415px) {
  .intro {
    margin-top: 4rem; }
    .intro .h-txt-body {
      font-size: 44px; }
    .intro .txt {
      font-size: 30px; } }

@media (max-width: 768px) {
  .carousel-inner {
    width: 100% !important; } }
