/** Combined partials to create main styles **/
/** Color theme for the site **/
/** Overarching styles for site **/
body {
  font-family: 'Ropa Sans', sans-serif;
  background-color: #262833; }

/** Color theme for the site **/
/** Navbar styles **/
nav {
  background-color: #FFCB47; }
  nav .my-color {
    font-size: 20px;
    letter-spacing: 2.5px;
    padding: 0px;
    margin: 10px 10px;
    color: #262833 !important;
    border-bottom: 3px solid transparent;
    transition: border-bottom 0.6s ease-out;
    cursor: pointer; }
    nav .my-color:not(.my-color-active):hover {
      color: #697adb !important;
      border-bottom: 3px solid #697adb; }
  nav .my-color-active {
    color: #2db7c0 !important;
    border-bottom: 3px solid #2db7c0; }
  nav #contact-button {
    cursor: pointer;
    text-decoration: none; }

/** Color theme for the site **/
/** Styles for the intro section **/
.intro {
  background-color: #262833;
  color: #FFCB47;
  margin-top: 6rem;
  min-height: 100vh;
  padding-top: 125px; }
  .intro .h-txt-body {
    border-right: 0.2rem solid #FFCB47;
    font-size: 100px;
    letter-spacing: 3.5px; }
  .intro .txt {
    border-right: 0.2rem solid #FFCB47;
    font-size: 75px;
    letter-spacing: 1.5px; }

/** Color theme for the site **/
/** The few mixins used **/
/** Styles for the about section **/
.about {
  background-color: #4ACFAC; }
  .about .about-header {
    color: #262833;
    font-weight: 1000;
    font-size: 60px;
    letter-spacing: 2px;
    border-bottom: 0.2rem solid #262833; }
  .about .about-text {
    color: #262833;
    font-weight: 500;
    font-size: 19px; }
  .about .about-image {
    border: 0.2rem solid #262833; }
  .about #bolded {
    font-size: 20px; }

/** Color theme for the site **/
/** The few mixins used **/
/** Styles for project/work section **/
.projects-and-work {
  background-color: #262833;
  /** make the carousel controls darker **/ }
  .projects-and-work h2 {
    font-weight: 1000;
    font-size: 60px;
    letter-spacing: 2px; }
  .projects-and-work .projects-header {
    color: #36C7D0;
    border-bottom: 0.2rem solid #36C7D0; }
  .projects-and-work .work-header {
    color: #7E8CE0;
    border-bottom: 0.2rem solid #7E8CE0; }
  .projects-and-work .card {
    background-color: #262833; }
    .projects-and-work .card .card-header {
      text-align: center; }
      .projects-and-work .card .card-header h5 button {
        font-size: larger;
        font-weight: 500; }
    .projects-and-work .card .card-body {
      background-color: #F5F5F5; }
      .projects-and-work .card .card-body ul li {
        list-style-type: square; }
  .projects-and-work .project-card .card .card-header {
    border: 0.2rem solid #36C7D0; }
    .projects-and-work .project-card .card .card-header h5 button {
      color: #36C7D0; }
  .projects-and-work .project-card .card .card-body {
    border-right: 0.175rem solid #7E8CE0;
    border-bottom: 0.175rem solid #7E8CE0;
    border-left: 0.175rem solid #7E8CE0; }
  .projects-and-work .work-card .card .card-header {
    border: 0.2rem solid #7E8CE0; }
    .projects-and-work .work-card .card .card-header h5 button {
      color: #7E8CE0; }
  .projects-and-work .work-card .card .card-body {
    border-right: 0.175rem solid #36C7D0;
    border-bottom: 0.175rem solid #36C7D0;
    border-left: 0.175rem solid #36C7D0; }
  .projects-and-work #separator #blue-border {
    border-bottom: 0.15rem solid #36C7D0; }
  .projects-and-work #separator #purp-border {
    border-bottom: 0.15rem solid #7E8CE0; }
  .projects-and-work .carousel-control-next,
  .projects-and-work .carousel-control-prev {
    filter: invert(100%); }
  .projects-and-work .carousel-indicators li {
    filter: invert(100%); }

/** Color theme for the site **/
/** Styles for the footer **/
.footer {
  background-color: #4ACFAC; }
  .footer .footer-link {
    color: #262833;
    text-decoration: none; }
  .footer .footer-logo {
    vertical-align: baseline; }

/** Color theme for the site **/
#contact-modal .modal-header {
  background-color: #36C7D0;
  border-bottom: none;
  letter-spacing: 2.5px; }

#contact-modal .modal-body {
  background-color: #262833; }
  #contact-modal .modal-body .modal-link {
    color: #7E8CE0;
    text-decoration: none;
    font-size: larger;
    letter-spacing: 1.5px;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.4s ease-out; }
    #contact-modal .modal-body .modal-link:hover {
      color: #2db7c0;
      border-bottom: 2px solid #2db7c0; }
  #contact-modal .modal-body .modal-logo {
    vertical-align: baseline;
    color: #7E8CE0; }

/** Media Queries **/
@media (max-width: 779px) {
  .projects-and-work .work-card .card .card-header h5 button {
    font-size: large; }
  .projects-and-work .project-card .card .card-header h5 button {
    font-size: large; } }

@media (max-width: 756px) {
  .intro {
    margin-top: 4rem; }
    .intro .h-txt-body {
      font-size: 62px; }
    .intro .txt {
      font-size: 50px; } }

@media (max-width: 415px) {
  .intro {
    margin-top: 2rem; }
    .intro .h-txt-body {
      font-size: 44px; }
    .intro .txt {
      font-size: 30px; }
  .projects-and-work .projects-header {
    font-size: 52px; }
  .projects-and-work .work-header {
    font-size: 52px; }
  .about .about-header {
    font-size: 52px; } }

@media (max-width: 768px) {
  .carousel-inner {
    width: 100% !important; } }

@media (max-width: 370px) {
  .intro {
    margin-top: 2rem; }
  .projects-and-work .projects-header {
    font-size: 45px; }
  .projects-and-work .work-header {
    font-size: 45px; }
  .about .about-header {
    font-size: 45px; } }
