@import 'colors';

/** Navbar styles **/
nav {
    background-color: $gld-secondary;
    .my-color {
        font-size: 20px;
        letter-spacing: 2.5px;
        padding: 0px;
        margin: 10px 10px;
        color: $dark !important;
        border-bottom: 3px solid transparent;
        transition: border-bottom 0.6s ease-out;
        &:not(.my-color-active):hover {
            color: darken($purp-secondary, 5%) !important;
            border-bottom: 3px solid darken($purp-secondary, 5%);
        }
        cursor: pointer;
    }
    .my-color-active {
            color: darken($blue-secondary, 5%) !important;
            border-bottom: 3px solid darken($blue-secondary, 5%);
    }
    #contact-button {
        cursor: pointer;
        text-decoration: none;
    }
}